/frm/vendor/
/frm/runtime/
/frm/tests/
/frm/web/
/frm/.bowerrc
/frm/codeception.yml
/frm/docker-compose.yml
/frm/requirements.php
/frm/Vagrantfile
/frm/yii
/frm/yii.bat
/frm/vagrant/config/.gitignore
/frm/vagrant/nginx/log/.gitignore
.vagrant/

/assets/
/img/uploads/
/uploads/
/index-test.php

/frm/config/db.local.php
/frm/config/params-local.php
/frm/config/web-local.php
/frm/config/test-local.php
/.env

/.idea/
/.vscode/
/.DS_Store
Thumbs.db
*.iml
nbproject/
*.sublime-workspace
*.sublime-project

composer.phar
npm-debug.log
yarn-error.log
node_modules/

*.log
*.bak
*.tmp
*.swp
*~
.directory
