Options -Indexes
# Убираем лишние индексы, оставляем только реальные файлы
DirectoryIndex index.php index-local.php

RewriteEngine On
# Если сайт в корне public_html, ставим /
RewriteBase /

# Если файл или папка существуют — не трогаем
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Перенаправляем на index.php (или index-local.php, если ты уверен, что он там есть)
RewriteRule ^ index.php [L,QSA]

# Запрет прямого доступа к frm
RewriteRule ^frm(/|$) - [F,L]
